:root {
  --bar-chart-size: 7%;
  --logo-background: #6cccf8ee;
  --left-background: #069ad7;
  --right-background: #0d0d1a;
  --content-box: #1e2e3f;
  --right-title-size: 1.5rem;
  --right-text-size: 1rem
}

#root {
  height: 100vh;
  width: 11vw;
  gap: 10px;
  margin: 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: flex;
}

.navbar {
  width: 10vw;            /* fixed width for the sidebar */
  height: 100vh;
  position: sticky;       /* or fixed if you prefer */
  top: 0;
  left: 0;
  background-color: var(--logo-background);
  box-shadow: 2px 0 5px rgba(0,0,0,.1);
}

.navs {
  text-align: start;
}

.signout {
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
}