:root {
  --bar-chart-size: 7%;
  --logo-background: #6cccf8ee;
  --secondary-background: #05ad16;
  --left-background: #069ad7;
  --right-background: #0d0d1a;
  --content-box: #1e2e3f;
  --right-title-size: 1.5rem;
  --right-text-size: 1rem;
}


.right-side {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Shower {
  background-color: var(--secondary-background); 
  color: white; 
  border-radius: 1.5em;
  width: 100%; 
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 1rem;
}

.Shower h3 {
  margin: 0;
  font-size: 1.2rem;
}

.Shower Button {
  color: var(--secondary-background);
  font-weight: bold;
}