:root {
  --bar-chart-size: 7%;
  --login-content-background: #999999;
  --content-box: #ca5656;
  --right-title-size: 1.5rem;
  --right-text-size: 1rem;
  --logo-background: #f12c2c;
  --font-color-login: black;
}

#root {
  height: 100vh;
  width: 100vw;
  gap: 15px;
  margin: 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  color: var(--font-color-login);
}

.center-wrapper .contentbox {
  background-color: var(--login-content-background);
  border: 1px solid var(--logo-background);
  border-radius: 5%;
  padding: 1rem;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
  list-style: none;
  justify-content: center;
}

.center-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.contentbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 1rem;
  background-color: var(--login-content-background);
  border: 1px solid var(--logo-background);
  border-radius: 5%;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.otp-input {
    color: white;
    border-color: white;
}