:root {
  --bar-chart-size: 7%;
  --logo-background: #6cccf8ee;
  --left-background: #069ad7;
  --right-background: #0d0d1a;
  --content-box: #1e2e3f;
  --right-title-size: 1.5rem;
  --right-text-size: 1rem
}

#root {
  height: 100vh;
  width: 100vw;
  gap: 10px;
  margin: 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  background-color: #069ad7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

header h1 {
  margin-left: 0.5em;
}

header .navs {
    height: 2vh;
    width: fit-content;
    font-size:small;
}

header hr {
  margin: 0;
}

.right-side {
  width: fit-content;
  height: fit-content;
  display: block;
  padding: 0.5em 3em 0 3em;
}